html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


.link {
    list-style: none;
    
}
.link-list {
    display: flex;
}
.link-list .link:not(:last-child) {
    margin-right: 20px;
}
